version: "3.7"

services:
  php:
    image: php:7.4.13-apache
    ports:
      - 80:3000
    volumes:
      - ./html:/var/www/html/
      - ./apache-config:/etc/apache2/sites-enabled/
      - ./php-config/custom.ini:/usr/local/etc/php/conf.d/custom.ini
