version: "3.7"

services:
  web:
    image: nginx:1.19.5
    ports:
      - 80:80
    volumes:
      - ./html:/var/www/html/
      - ./nginx-config:/etc/nginx/conf.d/
    links:
      - php

  php:
    image: php:7.4-fpm
    volumes:
      - ./html:/var/www/html/
      - ./php-config/custom.ini:/usr/local/etc/php/conf.d/custom.ini
